@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* neutral palette */
  --primary: #0d1117;
  --accent: #1f6feb;
  --soft-gray: #c9d1d9;
  --medium-gray: #8b949e;
  --light: #f0f6fc;

  --danger: #da3633;
  --success: #238636;

  --red: #e63946;
  --orange: #ff7043;
  --yellow: #f4a261;
  --green: #2a9d8f;
  --teal: #38b2ac;
  --blue: #457b9d;
  --purple: #8d5eab;
  --pink: #f472b6;

  /*  Fonts (use w/ font-family) */
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Fira Sans", sans-serif;

  /*  Utility Variables */
  --radius: 8px;
  /* --shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  --transition: 0.2s ease-in-out;
  --container-max: 1200px;
  --glow: 0 0 16px var(--green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  color: var(--red);
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1.1rem;
  background: transparent;
  font-weight: bold;
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  box-shadow: var(--glow);
}

.nav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--soft-gray);
  transition: color var(--transition);
  transition: all 0.2s ease;
}

.nav a:hover {
  color: var(--green);
  transform: scale(1.3);
}

html,
body {
  font-family: var(--font-primary);
  background-color: var(--primary);
  color: var(--soft-gray);
  line-height: 1.6;
  padding: 1rem;
}

/* Header styles */
header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* animation: float 4s ease-in-out infinite; */
}

header h1 {
  font-size: 1.5rem;
  color: var(--green);
  text-shadow: 2px 2px 0 #19180d;
  padding-top: 1rem;
}

header p {
  font-size: 1.1rem;
  color: #666;
  filter: blur(3px);
  transform: translateY(-0.7rem);
  letter-spacing: 3px;
}

/* Grid layout */
#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.product-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
  padding: -2rem;
}

/* Product cards */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 15rem;
  padding: 1rem;
  position: relative;
  background-color: var(--white);
  border: 1px solid var(--green);
  border-radius: var(--radius);
  transition: background-color var(--transition), transform var(--transition);
}

.product-card:hover {
  transform: translateY(-5px);
  border-color: var(--green);
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid var(--green);
  transition: transform 0.2s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card h3 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: var(--light-black);
}
.product-card h3:hover {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: var(--green);
}

.product-card a {
  color: var(--light-black);
  letter-spacing: 0.3px;
  text-decoration: none;
}

.product-card p {
  font-size: 1rem;
  margin: 0.25rem 0;
  color: var(--red);
}

#product-description {
  color: var(--light-black);
}

#product-price {
  color: var(--light-black);
  font-weight: 600;
  margin-top: auto;
  /* margin-bottom: 3px; */
  /* transform: translateY(20px); */
  align-self: flex-end;
}

.add-to-cart {
  margin-top: auto;
  align-self: flex;
  background-color: var(--light-black);
  color: var(--green);
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3rem;
  /* font-weight: bold; */
}

.add-to-cart:hover {
  border: 1px solid var(--green);
  color: var(--green);
}

/* Animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* Cart  */
.cart-item {
  border: 1px solid var(--soft-gray);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background: var(--light-black);
}

.qty-btn {
  padding: 0.3rem 0.7rem;
  margin: 0 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--light);
  border-radius: var(--radius);
}

.qty {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.remove-btn {
  font-family: "Outfit";
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  background: var(--danger);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.remove-btn:hover {
  background: #e74c3c;
}
