/* === GENERAL === */
.checkout-view {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-view h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--light-gray);
  margin-bottom: 1rem;
}

/* === CONTAINER LAYOUT === */
.checkout-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
}

/* === Summary of Cart Products === */
#checkout-summary {
  background-color: var(--light-black);
  padding: 2rem;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* product entry */
.checkout-item {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0.5rem 0;
  margin-bottom: 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed var(--medium-gray);
}

.checkout-item .product-name {
  font-weight: 600;
  color: var(--light-gray);
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  display: block;
  transform: translateY(-0.5em);
}

.checkout-item .product-price {
  display: flex;
  font-size: 1.4rem;
  color: var(--light);
  transform: translateY(.7em);
}

/* === FORM COLUMN === */
#checkout-form {
  flex: 1;
  min-width: 320px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-black);
}

#checkout-form label {
  font-weight: 400; /* style this */
  font-size: 1.5em;
  margin-bottom: -1.5rem;
  color: var(--green);
}

/* Input + Textarea Fields */
#checkout-form input,
#checkout-form textarea {
  width: 100%;
  padding: .5rem;
  font-size: 1.3rem;
  color: var(--light-gray);
  background-color: var(--light-black);
  font-family: var(--font-primary);
}

#checkout-form input:focus,
#checkout-form textarea:focus {
  border-color: var(--green);
  outline: none;
}

/* Submit Button */
#checkout-form button {
  align-self: center;
  background: var(--green);
  color: var(--light);
  border: none;
  padding: 0.7rem 1.5rem;
  margin: -1.8rem 1rem;
  border-radius: var(--radius);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
  transition: background-color var(--transition);
}

/* Button Hover State */
#checkout-form button:hover {
  transform: scale(1.05);
  background: var(--mintLeaf);
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
    align-items: stretch;
  }

  #checkout-summary,
  #checkout-form {
    max-width: 100%;
  }
}
