.login-view {
    max-width: 400px;
    margin: 1rem auto;
    padding: 2rem;
    background-color: var(--light-black);
    border-radius: 10px;
    box-shadow: var(--glow);
  }

  .login-view h1 {
    text-align: center;
    color: var(--green);
    margin-bottom: .2rem;
  }
  
  #login-form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }

  #login-form input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--soft-gray);
    background-color: var(--light);
  }

  #login-form button {
    padding: 0.6rem;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  #login-form button:hover {
    background-color: var(--mint);
    transform: scale(1.1);
    transition:ease-in-out .2s;
  }

  #login-msg {
    margin-top: 1rem;
    text-align: center;
    font-style: italic;
    color: var(--red);
  }
  